<ion-view >
  <ion-nav-title class="has-tabs-top">
    <span>Hour-Hand</span>
  </ion-nav-title> 

  <ion-tabs class="tabs-icon-top tabs-striped tabs-background-dark tabs-color-stable tabs-top">

    <ion-tab hidden="true">
       <ion-nav-view name="tab-refrech"></ion-nav-view>
    </ion-tab >

    <ion-tab title="Eventos" icon="ion-calendar" href="/app/eventos">
      <ion-nav-view name="app-eventos">
        
      </ion-nav-view>
    </ion-tab>

    <ion-tab title="Horario" icon="ion-ios-keypad" href="/app/horario">
      <ion-nav-view name="app-horario">
        
      </ion-nav-view>
    </ion-tab>

    <ion-tab title="Apuntes" icon="ion-android-list" href="/app/apuntes">
      <ion-nav-view name="app-apuntes">
        
      </ion-nav-view>
    </ion-tab>


  </ion-tabs>
</ion-view>
